<div class="container marketing">
    <div class="row" style="padding-top: 20px;">
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ section_info.featurette_item.featurette_heading }} <span class="text-muted">{{ section_info.featurette_item.featurette_muted_headline }}</span></h2>
                <p class="lead">{{ section_info.featurette_item.featurette_paragraph }} </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" alt="500x500" style="width: 500px; height: 500px;" src="https:{{ section_info.featurette_item.featurette_image.url(fm='jpg', q=70, w=500, h=500, fit='fill' ) }}" data-holder-rendered="true">
            </div>
        </div>
    </div>
</div>
